body {
  margin: 0;
  padding: 0;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Blurred background image layer */
body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("background.jpg") no-repeat center center fixed;
  background-size: cover;
  filter: blur(8px);
  z-index: -1;
}

.auth-container {
  width: 500px;
  padding: 30px 25px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
  color: white;
  text-align: center;
  z-index: 1;
}

.auth-container::before {
  content: "";
  display: block;
  background: url("logo.png") no-repeat center top;
  background-size: 120px;
  height: 120px;
  margin: 0 auto 20px auto;
}

.auth-container h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  background: linear-gradient(to right, #225a8b, #8e2729);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.auth-container input {
  width: 100%;
  padding: 5px 0;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.6);
  background: transparent;
  color: white;
  font-size: 16px;
  outline: none;
}

.auth-container input::placeholder {
  color: rgba(52, 51, 51, 0.829);
}

.auth-container button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  background: linear-gradient(90deg, #8e44ad, #3498db);
  color: white;
  font-weight: bold;
  font-size: 16px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s ease;
}

.auth-container button:hover {
  background: linear-gradient(90deg, #732d91, #2980b9);
}

/* Link to register */
.auth-container p {
  margin-top: 20px;
  font-size: 14px;
  color: white;
}

.register-link {
  color: #ad1616;
  font-weight: bold;
  text-decoration: none;
}

.register-link:hover {
  text-decoration: underline;
}

.input-wrapper {
  position: relative;
  width: 100%;
  margin: 12px 0;
}

.input-wrapper input {
  width: 100%;
  padding: 12px 40px 12px 12px;
  border: none;
  border-radius: 12px;
  background: rgba(255, 255, 255, 0.3);
  color: rgba(52, 51, 51, 0.829);
  font-size: 16px;
  backdrop-filter: blur(10px);
}

.input-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  cursor: default;
}

.input-icon.clickable {
  cursor: pointer;
}
